.spider-leg-pin {
    width: 50px;
    height: 44px;
    transform: translate3d(-50%, -100%, 0);
}

.custom-marker .spider-leg-pin {
    background-image: url(./marker.svg);
}

.custom-marker--selected .spider-leg-pin {
    background-image: url(./marker-selected.svg);
}

.spider-leg-container.custom-marker--selected .spider-leg-line {
    background-color: #ff6b81;
    opacity: 1;
}
